
.gradient-custom-2 {
/* fallback for old browsers */
background:hsl(218, 41%, 15%);

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%);
}
.gradient-custom{
    /* background-image: url(/bankRecImage1.png); */
    background:#014e7a;
}


@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}

}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}