<div class="permission-tree">
  <div *ngFor="let node of permissionNodes" class="permission-node">
    <div class="node-item" [class.group]="node.isGroup">
      <div class="checkbox-container">
        <!-- Toggle icon appears first for groups -->
        <button
          *ngIf="node.isGroup && node.children && node.children.length > 0"
          type="button"
          class="expand-button"
          (click)="toggleExpand(node)"
        >
          <i class="fas" [class.fa-chevron-down]="node.expanded" [class.fa-chevron-right]="!node.expanded"></i>
        </button>
        
        <!-- Spacer for non-group items to maintain alignment -->
        <div *ngIf="!node.isGroup || !node.children || node.children.length === 0" class="expand-spacer"></div>
        
        <input
          type="checkbox"
          [id]="node.key"
          [checked]="node.checked"
          [indeterminate]="node.indeterminate"
          (change)="onNodeChange(node, $event)"
          class="permission-checkbox"
        />
        <label [for]="node.key" class="permission-label">
          {{ node.name }}
        </label>
      </div>
    </div>
    
    <div 
      *ngIf="node.children && node.children.length > 0 && node.expanded"
      class="children-container"
    >
      <div *ngFor="let child of node.children" class="child-node">
        <div class="checkbox-container">
          <!-- Spacer for child items -->
          <div class="expand-spacer"></div>
          <input
            type="checkbox"
            [id]="child.key"
            [checked]="child.checked"
            (change)="onNodeChange(child, $event)"
            class="permission-checkbox"
          />
          <label [for]="child.key" class="permission-label">
            {{ child.name }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>